#clients-flexslider.flexslider.home.clients
  .headline
    h3 Our Clients
  ul.slides
    li
      a(href='#')
        img(src='/img/clients/hp_grey.png', alt='')
        img.color-img(src='/img/clients/hp.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/igneus_grey.png', alt='')
        img.color-img(src='/img/clients/igneus.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/vadafone_grey.png', alt='')
        img.color-img(src='/img/clients/vadafone.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/walmart_grey.png', alt='')
        img.color-img(src='/img/clients/walmart.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/shell_grey.png', alt='')
        img.color-img(src='/img/clients/shell.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/natural_grey.png', alt='')
        img.color-img(src='/img/clients/natural.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/aztec_grey.png', alt='')
        img.color-img(src='/img/clients/aztec.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/gamescast_grey.png', alt='')
        img.color-img(src='/img/clients/gamescast.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/cisco_grey.png', alt='')
        img.color-img(src='/img/clients/cisco.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/everyday_grey.png', alt='')
        img.color-img(src='/img/clients/everyday.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/cocacola_grey.png', alt='')
        img.color-img(src='/img/clients/cocacola.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/spinworkx_grey.png', alt='')
        img.color-img(src='/img/clients/spinworkx.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/shell_grey.png', alt='')
        img.color-img(src='/img/clients/shell.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/natural_grey.png', alt='')
        img.color-img(src='/img/clients/natural.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/gamescast_grey.png', alt='')
        img.color-img(src='/img/clients/gamescast.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/everyday_grey.png', alt='')
        img.color-img(src='/img/clients/everyday.png', alt='')
    li
      a(href='#')
        img(src='/img/clients/spinworkx_grey.png', alt='')
        img.color-img(src='/img/clients/spinworkx.png', alt='')