link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/menu/style-menu.css')
link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/style_responsive.css')
link(rel='stylesheet', href='/css/animate.css')
link(rel='stylesheet', href='/css/effects.css')
link(rel='stylesheet', href='/flags/css/bootstrap-formhelpers-countries.flags.css')
link(rel='stylesheet', href='/fancybox/source/jquery.fancybox.css')
link(rel='stylesheet', href='/elasticslides/css/style.css', type='text/css')
link(rel='stylesheet', href='/elastislide/css/elastislide.css', type='text/css')
link(rel='stylesheet', href='/elastislide/css/custom.css', type='text/css')
link(rel='stylesheet', href='/flexslider/flexslider.css', type='text/css', media='screen')
link(rel='stylesheet', href='/parallax-slider/css/parallax-slider.css', type='text/css')
link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')