#aboutus
      .container
        .section_header
          br
          h3 About Us
        .row
          .span6.intro
            h6
              | There are many variations of passages Lorem Ipsum available, injected generators on the hidden.
            p
              | There are many variations of passages of Lorem Ipsum available, injected
              | generators on the  embarrassing hidden in the middle all the dictionary making it look like readable English. Many desktop publishing packages and web page editors.
              br
              br
              | There are many variations of passages of Lorem Ipsum available, but the ndictionary of over 200 Latin words, combined with a handful of models The generated Lorem Ipsum is therefore always free from repetition, the injected humour, or non-characteristic words etc.
          .span6.flexslider
            ul.slides
              li
                img(src='img/about_slide1.jpg')
              li
                img(src='img/about_slide1.jpg')
              li
                img(src='img/about_slide1.jpg')