.feature_wrapper.option2
      .section_header
        h3
          | Features
          span (Option 2)
      .row
        .span6.feature
          .box
            img.one(src='img/features-ico4.png')
          .text
            h6 Desktop publishing packages 
            p
              | There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
        .span6.feature.right
          .box
            img.two(src='img/features-ico5.png')
          .text
            h6 Desktop publishing packages 
            p
              | There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
      .row.last
        .span6.feature
          .box
            img.one(src='img/features-ico6.png')
          .text
            h6 Desktop publishing packages 
            p
              | There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
        .span6.feature.right
          .box
            img.two(src='img/features-ico7.png')
          .text
            h6 Desktop publishing packages 
            p
              | There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
