.feature_wrapper.option3
      .section_header
        h3
          | Features
          small (Option 3)
      .row
        .span4.feature
          .img
            img(src='img/features-ico6.png')
          .text
            h6 Plan
            p
              | There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.
        .span4.feature
          .img
            img(src='img/features-ico5.png')
          .text
            h6 Design
            p
              | There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.
        .span4.feature.last
          .img
            img(src='img/features-ico7.png')
          .text
            h6 Develop
            p
              | There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.