#in_pricing2
      .container
        .section_header
          h3 Pricing
        .row.charts_wrapp
          .span3
            .plan
              .wrapper
                h3 Lite
                .price
                  span.dollar $
                  span.qty 5
                  span.month /month
                .features
                  p
                    strong 10
                    | Shared Projects
                  p
                    strong 4
                    | Team Members
                  p
                    strong 10
                    | Storage
                a.order(href='#') ORDER NOW
          .span3.ultra
            .plan
              .wrapper
                img.ribbon(src='img/badge.png')
                h3 Ultra
                .price
                  span.dollar $
                  span.qty 99
                  span.month /month
                .features
                  p
                    strong 10
                    | Shared Projects
                  p
                    strong 25
                    | Team Members
                  p
                    strong Unlimited
                    | Storage
                  p
                    strong Plus
                    | Phone Support
                a.order(href='#') ORDER NOW
          .span3
            .plan
              .wrapper
                h3 Standard
                .price
                  span.dollar $
                  span.qty 65
                  span.month /month
                .features
                  p
                    strong 10
                    | Shared Projects
                  p
                    strong 4
                    | Team Members
                  p
                    strong 10
                    | Storage
                a.order(href='#') ORDER NOW
          .span3.black
            .plan
              .wrapper
                h3 Need more?
                h6 Let’s talk.
                p If your company needs are larger than any of our plans, let’s talk.
                a.order(href='#') GET IN TOUCH
#faq
      .container
        .section_header
          h3 Frequently asked questions
        .row
          .span6.block
            .box
              p.title How long are your contracts?
              p.answ
                | There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
            .box
              p.title How do i sign up?
              p.answ
                | There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
          .span6.block
            .box
              p.title What is meant by unlimited?
              p.answ
                | There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
            .box
              p.title Is there a discount for yearly service?
              p.answ
                | There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
