#in_pricing
  .container
    .section_header
      h3 Pricings
    .row.charts_wrapp
      .span4
        .plan
          .wrapper
            h3 Lite
            .price
              span.dollar $
              span.qty 35
              span.month /month
            .features
              p
                strong 10
                | Shared Projects
              p
                strong 4
                | Team Members
              p
                strong 10
                | Storage
            a.order(href='/pricing') ORDER NOW
      .span4.pro
        .plan
          .wrapper
            img.ribbon(src='img/badge.png')
            h3 Pro
            .price
              span.dollar $
              span.qty 99
              span.month /month
            .features
              p
                strong 10
                | Shared Projects
              p
                strong 25
                | Team Members
              p
                strong Unlimited
                | Storage
              p
                strong Plus 
                | Phone Support
            a.order(href='/pricing') ORDER NOW
      .span4.standar
        .plan
          .wrapper
            h3 Standard
            .price
              span.dollar $
              span.qty 65
              span.month /month
            .features
              p
                strong 10
                | Shared Projects
              p
                strong 4
                | Team Members
              p
                strong 10
                | Storage
            a.order(href='/pricing') ORDER NOW
    .start
      p Start your free, no-risk, 14 day trial! 
      a(href='/pricing') Start Now!