#sign_in2
      .container
        .section_header
          br
          br
        .row.login
          .span5.left_box
            h4 Log in to your account
            .perk_box
              .perk
                span.icos.ico1
                p
                  strong Lorem alteration
                  | in some form  injected humour these randomised words .
              .perk
                span.icos.ico2
                p
                  strong There are many variations
                  | of passages of Lorem alteration in some form  injected humour these randomised words.
              .perk
                span.icos.ico3
                p
                  strong Alteration in some form
                  | injected humour these randomised words.
          .span6.signin_box
            .box
              .box_cont
                .social
                  a.circle.facebook(href='#')
                    img(src='img/face.png', alt='')
                  a.circle.twitter(href='#')
                    img(src='img/twt.png', alt='')
                  a.circle.gplus(href='#')
                    img(src='img/gplus.png', alt='')
                .division
                  .line.l
                  span or
                  .line.r
                .form
                  form
                    input(type='email', placeholder='Email')
                    input(type='password', placeholder='Password')
                    .forgot
                      span Don’t have an account?
                      a(href='/signup') Sign up
                    input(type='submit', value='sign in')
