#body
  .row-fluid.breadcrumbs.margin-bottom-40
    .container
      h1.pull-left About Us
      ul.pull-right.breadcrumb
        li
          a(href='index.html') Home
          span.divider /
        li
          a(href='') Pages
          span.divider /
        li.active About Us
  .container
    .row-fluid.margin-bottom-30
      .span6
        p
          | Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Unify is an incredibly beautiful responsive Bootstrap Template for It works on all major web.
        ul.unstyled
          li
            i.icon-ok.color-green
            | Donec id elit non mi porta gravida
          li
            i.icon-ok.color-green
            | Corporate and Creative
          li
            i.icon-ok.color-green
            | Responsive Bootstrap Template
          li
            i.icon-ok.color-green
            | Elit non mi porta gravida
          li
            i.icon-ok.color-green
            | Award winning digital agency
        br
        blockquote
          p
            | Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why.
          small CEO Jack Bour
      .span6
        iframe(src='http://player.vimeo.com/video/9679622', width='100%', height='327', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
    .headline
      h3 Meer Our Team
    ul.thumbnails.team
      li.span3
        .thumbnail-style
          img(src='/img/others/2.jpg', alt='')
          h3
            a Jack Bour
            small Chief Executive Officer / CEO
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
          ul.unstyled.inline
            li
              a(href='#')
                i.icon-facebook
            li
              a(href='#')
                i.icon-twitter
            li
              a(href='#')
                i.icon-google-plus
      li.span3
        .thumbnail-style
          img(src='/img/others/7.jpg', alt='')
          h3
            a Kate Metus
            small Project Manager
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
          ul.unstyled.inline.team
            li
              a(href='#')
                i.icon-facebook
            li
              a(href='#')
                i.icon-twitter
            li
              a(href='#')
                i.icon-google-plus
      li.span3
        .thumbnail-style
          img(src='/img/others/3.jpg', alt='')
          h3
            a Porta Gravida
            small VP of Operations
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
          ul.unstyled.inline.team
            li
              a(href='#')
                i.icon-facebook
            li
              a(href='#')
                i.icon-twitter
            li
              a(href='#')
                i.icon-google-plus
      li.span3
        .thumbnail-style
          img(src='/img/others/6.jpg', alt='')
          h3
            a Donec Elit
            small Director, R & D Talent
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
          ul.unstyled.inline.team
            li
              a(href='#')
                i.icon-facebook
            li
              a(href='#')
                i.icon-twitter
            li
              a(href='#')
    include includes/clients