include css/index
-var selected = 'home';
include layout/header
include content/homeslider
include content/showcase
include content/features
include content/pricing
include content/clients
include layout/footer