#404
  .container.pull-top
    .section_header
    br
    br
    br
    br
    br
    .row.feature.ss
      .span6
        img(src='img/logo/575x200.png')
      .span6.info
        h1 404 error
        h3 page could not be found