#clients
  .container
    .section_header
      h3 Clients
    .row
      .span2.client
        .img.client1
      .span2.client
        .img.client2
      .span2.client
        .img.client3
      .span2.client
        .img.client1
      .span2.client
        .img.client2
      .span2.client
        .img.client3