.row.map
      .container
        .span5.box_wrapp
          .box_cont
            .head
              h6 Contact
            ul.street
              li 2301 East Lamar Blvd. Suite 140.
              li City, Arlington. United States,
              li Zip Code, TX 76006.
              li.icon.icontop
                span.contacticos.ico1
                span.text 1 817 274 2933
              li.icon
                span.contacticos.ico2
                a.text(href='#') bootstrap@twitter.com
            .head.headbottom
              h6 Work with us
            p
              | We’ve prepared a simple project planner to get to know you and your project better.
            a.btn(href='#') Let's get started
      iframe(width='100%', height='600', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com.mx/?ie=UTF8&ll=64.089157,-21.816616&spn=0.045157,0.15398&t=m&z=13&output=embed')