#features.features_page
      .container
        .feature_wrapper.option1
          .section_header
            br
            br
            h3
              | Features
              span (Option 1)
          .row.subtitle
            h2
              | There are many variations of passages of available, but the majority have suffered alteration in some on form, by injected humour, or randomised words which look even slightly believable.
          .row.feature
            .span6
              img(src='/img/showcase1.png')
            .span6.info
              h3
                img(src='/img/features-ico1.png')
                | Beautiful on all devices
              p
                | There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
          .row.feature.ss.last
            .span6.info
              h3
                img(src='/img/features-ico2.png')
                | Blog page included
              p
                | There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
            .span6
              img.pull-right(src='/img/showcase2.png')
        .feature_wrapper.option2
          .section_header
            h3
              | Features
              span (Option 2)
          .row
            .span6.feature
              .box
                img.one(src='/img/features-ico4.png')
              .text
                h6 Desktop publishing packages
                p
                  | There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
            .span6.feature.right
              .box
                img.two(src='/img/features-ico5.png')
              .text
                h6 Desktop publishing packages
                p
                  | There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
          .row.last
            .span6.feature
              .box
                img.one(src='/img/features-ico6.png')
              .text
                h6 Desktop publishing packages
                p
                  | There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
            .span6.feature.right
              .box
                img.two(src='/img/features-ico7.png')
              .text
                h6 Desktop publishing packages
                p
                  | There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
        .feature_wrapper.option3
          .section_header
            h3
              | Features
              small (Option 3)
          .row
            .span4.feature
              .img
                img(src='/img/features-ico6.png')
              .text
                h6 Plan
                p
                  | There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.
            .span4.feature
              .img
                img(src='/img/features-ico5.png')
              .text
                h6 Design
                p
                  | There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.
            .span4.feature.last
              .img
                img(src='/img/features-ico7.png')
              .text
                h6 Develop
                p
                  | There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.
