#features
  .container
    .section_header
      h3 Features
    .row.feature
      .span6
        img(src='/img/showcase1.png')
      .span6.info
        h3
          img(src='/img/features-ico1.png')
          | Beautiful on all devices
        p
          | There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
    .row.feature.ss
      .span6.info
        h3
          img(src='/img/features-ico2.png')
          | Blog page included
        p
          | There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
      .span6
        img.pull-right(src='/img/showcase2.png')
    .row.feature.ss
      .span6
        img(src='/img/showcase3.png')
      .span6.info
        h3
          img(src='/img/features-ico3.png')
          | Simple and clean coming soon page
        p
          | There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
