#process
  .container
    .section_header
      h3 Our Process
    .row.services_circles
      .span4.description
        .text.active
          h4 Plan what you need.
          p
            | There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.
        .text
          h4 Develop your product or service.
          p
            | There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
            | making this the first true generator  Internet.
        .text
          h4 Design this theme to your needs.
          p
            | There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.
      .span7.areas
        .circle.active
          img(src='/img/plan.png')
          span Plan
        .circle
          img(src='/img/develop.png')
          span Develop
        .circle.last_circle
          img(src='/img/design.png')
          span Design