#sign_up2
      .container
        .section_header
          br
          br
          br
        .row.login
          .span5.left_box
            h4 Create your account
            .perk_box
              .perk
                span.icos.ico1
                p
                  strong Create an Administrative account
                  |  and you can add other users later.
              .perk
                span.icos.ico2
                p
                  strong There are many variations
                  | of passages of Lorem alteration in some form  injected humour these randomised words.
              .perk
                span.icos.ico3
                p
                  strong Alteration in some form
                  | injected humour these randomised words.
          .span6.signin_box
            .box
              .box_cont
                .form
                  form
                    input(type='email', name='email', placeholder='Email')
                    input(type='password', name='password', placeholder='Password')
                    .forgot
                      span Already have an account?
                      a(href='signin') Sign in
                    input(type='submit', value='sign up')
