footer#footer
  .container
    .row.info
      .span6.residence
        ul
          li 655 North Central Ave
          li 17th Floor
          li Glendale, California 91203
      .span5.touch
        ul
          li
            strong Phone
            | 1  855 GET WUZY
          li
            strong Email
            a(href='#')  contact@wuzy.com
    .row.credits
      .span12
        .row.social
          .span12
            a.facebook(href='https://www.facebook.com/wuzyapp')
              span.socialicons.ico1
              span.socialicons_h.ico1h
            a.twitter(href='https://www.twitter.com/wuzyapp')
              span.socialicons.ico2
              span.socialicons_h.ico2h
            a.gplus(href='#')
              span.socialicons.ico3
              span.socialicons_h.ico3h
            a.flickr(href='#')
              span.socialicons.ico4
              span.socialicons_h.ico4h
            a.pinterest(href='#')
              span.socialicons.ico5
              span.socialicons_h.ico5h
            a.dribble(href='#')
              span.socialicons.ico6
              span.socialicons_h.ico6h
            a.behance(href='#')
              span.socialicons.ico7
              span.socialicons_h.ico7h
        .row.copyright
          .span12
            | © 2013 Wuzy, Inc. All rights reserved.
