.navbar.transparent.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          .nav-collapse.collapse
            span.pull-left
                a(href='/')
                  img.logo(src='img/logo/115x40.png', alt='')